<?xml version="1.0" encoding="utf-8"?>

<!-- Manifiesto: elemento raiz -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miprimeraplicacion">

    <!-- Elemento que contiene todos los componentes de la aplicacion -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Definicion de una actividad -->
        <activity android:name=".MainActivity">

            <!-- Definicion de un intent usado para lanzar la actividad-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Hardware & Software special functions -->

    <uses-feature android:name="android.hardware.audio.low_latency" android:required="true"/>
    <uses-feature android:name="android.hardware.audio.low_latency" android:required="true"/>
    <uses-feature android:name="android.hardware.audio.low_latency" android:required="true"/>

</manifest>